/* GLOBAL ROOT */
:root{
  --bgColor:#000000;
  --heading:#ffffff;
  --headingBorder:#c20c33;
  --linkColor:#69666b;
  --linkHover:#851b23;
  --liLinkColor:#ffffff50;
  --liLinkBorder:#911971;
  --borderStyle:dotted;
  --borderColor:#ffffff;
}
html{scroll-behavior: smooth;scrollbar-width: auto;}
#body{background:var(--bgColor);box-shadow:0px 0px 5px 4px var(--bgColor);}
body{
  font-family: "MS PGothic", sans-serif; font-size:12px;
  image-rendering: crisp-edges;
  color:var(--borderColor);
  padding:0;
  margin:0;
}
#body{width:644px;margin:0 auto;}
#body section, #body div, .lContainer, .rContainer{box-sizing:border-box;}
hr {background-image: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);border: 0;height:1px;}
ul li {list-style-type: "→ "; margin:0px 10px 0px 0px; border-bottom:1px var(--borderStyle) #ffffff90;
}
a, a:visited{color:var(--linkColor);text-decoration:none;cursor:pointer;}
a:hover{color:var(--linkHover);}
h4 a, h4 a:hover{color:#ffffff;text-shadow: -1px -1px 0 var(--liLinkBorder), 1px -1px 0 var(--liLinkBorder), -1px 1px 0 var(--liLinkBorder), 1px 1px 0 var(--liLinkBorder);}
p{padding:0px 10px 0px 10px;}
h1, h2, h4 {margin:0;width:auto;color:var(--heading); text-shadow:#bgColor;text-shadow: -1px -1px 0 var(--headingBorder), 1px -1px 0 var(--headingBorder), -1px 1px 0 var(--headingBorder), 1px 1px 0 var(--headingBorder);}
ul{margin:0px 0px 3px 0px;padding:3px 0px 3px 35px;}
table{width:100%;}
td{background-size:cover !important;padding:3px;color:#363636;vertical-align:top;}
td:hover{color:#ffffff;transition:.3s ease;}
img:hover{cursor:crosshair;}
#top, #map, #bottom{border:1px var(--heading);}
#map, #bottom{min-height:200px;padding:10px 0px 0px 0px;text-align:center;}
#top{background:url("layout_pieces/top.png")no-repeat bottom left;border-style: none none var(--borderStyle) none;min-height:128px;}
#map{background:url('images/map_banner.png')no-repeat top left;border-style: var(--borderStyle) none none none;}
audio, audio:hover .playlist, .playlist div:hover,.gallery img{transition:.5s ease;}
.inContent{min-height:600px;padding:0px 10px 0px 5px;display:flex;}
.lContainer, .rContainer{border:1px var(--borderColor);}
.lContainer audio{width:100%;}
.rContainer{border-style:none none none var(--borderStyle);}
.rContainer div, td {background:#ffffff10;padding:2px 0px 4px 0px;margin:3px 0px 3px 0px;}
.rContainer img{max-width:100%;}
.inContent .lContainer > h4{background:linear-gradient(90deg, var(--bgColor) 0%, var(--bgColor) 5%, #00000000 15%, #00000000 80%, var(--bgColor) 95%, var(--bgColor) 100%), url("layout_pieces/boneflute_scales_texture-flip.gif") repeat-x;}
.inContent .rContainer > h4{background:linear-gradient(90deg, var(--bgColor) 0%,var(--bgColor) 5%, #00000000 15%, #00000000 80%, var(--bgColor) 95%,var(--bgColor) 100%), url("layout_pieces/boneflute_scales_texture.gif")repeat-x}
.demo{height:170px;}
.gallery img{filter:brightness(40%);}
.gallery img:hover{filter:brightness(100%);}

/* DESKTOP */

@media(min-width:700px){
  body{background: url("images/screencaps/verifier_shame.png") no-repeat bottom left, linear-gradient(180deg,#00000000 0%, var(--bgColor) 70%, var(--bgColor) 100%), url("layout_pieces/bg_blackscales.gif"), var(--bgColor) !important;
  }
  h1, h2, h3, h4, details, span{padding:4px 10px 4px 10px;}
  audio{width:100%;filter:opacity(20%);border:var(--borderColor) 1px;border-style: none none var(--borderStyle) none;}
  audio:hover{filter:opacity(90%);}
  table td:nth-child(2){width:160px !important; height:160px;}
  .lContainer{background:url('layout_pieces/nav.png') no-repeat, url('layout_pieces/nav_footer.png') no-repeat;width:35%;background-position:top left;background-position:0% 0%, 0% 100%;padding:100px 0px 130px 0px;}
  .rContainer{width:65%;}
}

/* MOBILE */

@media screen and (max-width:699px){
  body{font-family: "MS PGothic", sans-serif; font-size:12px !important;}
  table td:nth-child(2){width:35vw !important; height:35vw;}
  h1, h2, h3, h4, details, span{padding:0px 10px 5px 10px;}
  #body{width:100%;}
  #top{background-size:100%;}
  .inContent{width:97%;margin:0 auto;}
  .inContent section{margin:0px 0px 0px 0px;}
  .lContainer a{color:#363636 !important;}
}