body{
  background-image:url("/layout/backgrounds/1.gif");
  font-family: "MS PGothic", sans-serif;
  font-size:12px;
  margin-top: 0px;
  margin: 0 auto;
}
table{
  border-collapse: collapse;
  vertical-align:top;
}
td {
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
hr {
  border: 0;
  height: 1px;
  margin-bottom:5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
a{
  color:#616161;
}
a:hover{
  color:#000000;
}
p, h1, h2, h3{
  padding-right:10px;
  padding-left:10px;
}
iframe{
  overflow:hidden;
  border:none;
  height:345px;
}
.body{
  margin: 0 auto;
  width:660px;
}
.body td{
  vertical-align: top;
  position:relative;
}
.layout_header{
  background-image:url("/layout/layout_pieces/layout_header.gif");
}
.layout-leftborder{
  background-image:url("/layout/layout_pieces/layout_leftborder.gif");
  max-width:5px;
}
.layout-rightborder{
  background-image:url("/layout/layout_pieces/layout_rightborder.gif");
  max-width:5px;
}
.leftside{
  background-image:url("/layout/layout_pieces/leftside_bgpattern.gif");
  background-repeat:repeat-y;
  padding-top:10px;
  width:202px;
}
.leftbox{
  background: linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 38%);
  box-shadow: 4px 3px 9px -4px rgba(0,0,0,0.72);
  border:#949494 solid 1px;
  box-sizing:border-box;
  border-radius:4px;
  font-size:12px;
  padding:1px;
  margin:0 auto;
  width:170px;
}
.rightside{
  background-image:url("/layout/layout_pieces/rightside_bgpattern.gif");
  background-repeat:repeat-y;
  width:448px;
}
.rightside table{
  border-collapse:separate;
  margin:0 auto;
  width:100%;
}
.rightside td{
  background-image:url("/layout/backgrounds/tone.png");
  padding:3px;
}
.rightside td:nth-child(1){
  margin:0 auto;
  width:95px;
}