.info{
  background:url("bg/info_bg.png");
  text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
  box-sizing:border-box;
  border-top:1px #000000 solid;
  border-radius:0px 0px 7px 7px ;
  padding:10px 0 10px 0;
  width:100%;
}
.info p{
  margin:0;
}
#closet-back{
  background:url('../ui/backgrounds/bg_tile_gray.gif');
  box-shadow: 0px 0px 5px 2px #000000 inset;
  border-radius:7px 7px 7px 7px ;
  background-attachment:fixed;
  border:1px solid #000000;
  position:relative;
  margin:0 auto;
  width:95%;
}
#closet-display, #display, #closet-back{
  min-height:290px;
}
#closet-display{
  background-image:url('wardrobe_images/starting_image.png');
  background-repeat: no-repeat;
  background-position:center;
  box-sizing:border-box;
  background-size:95%;
}
#display{
  border:#bcbcbc inset 3px;
  background:#ffffff;
  margin:0 auto;
  width:260px;
}
#list-row td{
  background:url('../ui/backgrounds/tone.png');
  border-radius:8px;
  text-align:center;
}
#label, h3{
  font-family:gothic;
  font-size:15px;
}