/* GLOBAL ROOT */
:root{
  --linkColor:#616161;
  --selectionColor:#b395ff;
  --jellyGradient:linear-gradient(180deg, #b4cf91 5%,#65943d 39%, #adb851 92%);
 
  --divSolid:linear-gradient(0deg, #ededed 1%, #ffffff 30%);
  --divInset:linear-gradient(180deg, #d6d6d670 0%, #ffffff 100%);
}

/* GLOBAL */

html{scroll-behavior: smooth;}
body{
  background:url("backgrounds/landing_01.png") no-repeat, url("backgrounds/mingrid.gif") repeat;
  background-size:300px, auto;
  font-family: "MS PGothic", sans-serif; font-size:12px;
  margin: 0 auto;
}
::selection {text-shadow: 0px 0px 4px var(--selectionColor),0px 0px 4px var(--selectionColor),0px 0px 4px var(--selectionColor);color:#ffffff;}
hr {
  background-image: linear-gradient(to right, #00000000, #000000, #00000000);
  border: 0;
  height:1px;
}
li {
  list-style-type: "→ ";
  padding:0px 2px 0px 2px;
}
a, a:visited{color:var(--linkColor);}
a:hover{color:#000000;}
p, h1, h2, h3, details{padding:0px 10px 0px 10px;}
b{color:#8f3b3b;}
audio{filter:opacity(80%);}
section div{
  border:solid 1px;
}
.rContainer div, .rContainerMinimal div, .mContainer div{
  box-shadow: inset 0px 0px 3px #ffffff;
  border-color: #3a371b;
  box-sizing:border-box;
  position:relative;
  margin:5px auto 5px;
}
table{
  width:100%;
}
td{
  background-image:url("backgrounds/tone.png");
  padding:3px;
}
details{cursor:text;color:#636363;}
summary{cursor:pointer;color:#000000;}
#body{width:644px;}
#minimalBody{width:660px;margin:15px auto 0px auto;}
#body section, #minimalBody section{
  min-height:92px;
 }
#body, #minimalBody{
  margin:0 auto;
}
#body section, #body div, #minimalBody section, #minimalBody div{
  background-position:top left;
  box-sizing:border-box;
}
#top, #singleTop{height:116px;}
  #minimalTop{background:url('layout_pieces_minimal/layout_header.png');}
#bottom, #singleBottom{height:132px;}
#minimalTop{height:90px;}
#minimalBottom{height:91px;}
.lContainer div, .lContainerMinimal div{
  margin:0px auto 10px auto;
  box-sizing:border-box;
  border-radius:4px;
  text-align:start !important;
}
.rContainerMinimal img{
  margin:0px 5px 0px 5px;
}
.mContainer {background:url('layout_pieces/layout_singlecontainer.png');padding:5px 12px 5px 14px;}
.mContainer div{background:var(--divInset);width:90%;padding:5px;}
.title{
  background: var(--jellyGradient) !important;
  width:auto !important;
  box-shadow: inset 0px 0px 3px #ffffff, inset 0px 0px 3px #ffffff;
  border:1px #36333b;
  border-style:solid none solid none !important;
  margin:0;
  border-radius:0px;
  color:#ffffff;
  padding:3px;
}
.demo{width:100%;}

/* DESKTOP */

@media(min-width:750px){
  section div{
	border-radius:6px;
  }
  .inContent{display:flex;min-height:370px;}
  .inContentSingle{display:block;}
  #top{background:url('layout_pieces/layout_header_multi.png');}
  #minimalBottom{background:url('layout_pieces_minimal/layout_bottom.png');}
  #bottom{background:url('layout_pieces/layout_bottom_multi.png');}
  #singleTop{background:url('layout_pieces/layout_header_single.png');}
  #singleBottom{background:url('layout_pieces/layout_bottom_single.png');}
  .lContainer hr{display:none;}
  .lContainer{
    background:url('layout_pieces/layout_lcontainer.png');
	padding:5px 0px 0px 14px;
	text-align:center;
    width:204px;
  }
  .lContainerMinimal{
    background:url('layout_pieces_minimal/layout_lcontainer.png');
	padding:5px 0px 0px 5px;
	text-align:center;
    width:196px;
  }
  .lContainer div, .lContainerMinimal div{
    background: var(--divSolid);
    box-shadow: 4px 3px 9px -4px #00000070;
    border:#949494 solid 1px;
    border-radius:4px;
	width:89%;
  }
  .rContainer{
    background:url('layout_pieces/layout_rContainer.png');
	padding:0px 10px 0px 1px;
    width:440px;
  }
  .rContainerMinimal{
    background:url('layout_pieces_minimal/layout_rcontainer.png');
	padding:0px 6px 0px 1px;
    width:464px;
  }
  .rContainer div, .rContainerMinimal div{
	background:var(--divInset);
	width:95%;
  }
  .rContainer hr{
	background: url('layout_pieces/hr_mobile.png'), no-repeat;
	background-position:top left;
	width:100%;
    height:4px;
  }
}

/* MOBILE */
@media screen and (max-width:749px){
#body hr{
	background: url('layout_pieces/hr_mobile.png');
	background-position:top left;
	background-repeat:no-repeat;
	max-width:634px;
	height:4px;
	margin:0;
  }
  section div{
	border-radius:5px;
	margin:5px 0px 0px 0px;
	width:98%;
  }
  .inContent{display:block;}
  .inline{display:flex;width:98%;margin:0 auto;}
  .inline div{
	margin:10px auto 0px 5px;
  }
  #top, #singleTop{background:url('layout_pieces/layout_header_single.png');}
  #bottom, #singleBottom{background:url('layout_pieces/layout_bottom_single.png');}
  #minimalBottom{background:url('layout_pieces_minimal/layout_bottom_single.png');}
  .lContainer, .rContainer{
	background:url('layout_pieces/layout_singlecontainer.png');
	padding:5px 10px 0px 14px;
  }
  .lContainerMinimal, .rContainerMinimal{
    background:url('layout_pieces_minimal/layout_singlecontainer.png');
	padding:5px 6px 3px 6px;
  }
  .lContainer div, .lContainerMinimal div{
	background:var(--divSolid);
	width:95%;
  }
  .rContainer div, .rContainerMinimal div{background:var(--divInset);}
}