@font-face {
  font-family: 'gothic';
  src: url('../fonts/proclamate_light.ttf');
}
body{
  background-image:url("backgrounds/1.gif");
  font-family: "MS PGothic", sans-serif;
  font-size:12px;
  margin-top: 0px;
  margin: 0 auto;
}
::selection {
  text-shadow: 0px 0px 4px #b395ff,0px 0px 4px #b395ff,0px 0px 4px #b395ff;
  color:#ffffff;
}
table{
  border-collapse: collapse;
  vertical-align:top;
}
td {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: "→ ";
  padding-right:0px;
  padding-left:0px;
}
hr {
  border: 0; height: 1px; margin-bottom:5px;
  background-image: linear-gradient(to right, #00000000, #000000, #00000000);
}
a, a:visited{
  color:#616161;
}
a:hover{
  color:#000000;
}
p, h1, h2, h3, details{
  padding-right:10px;
  padding-left:10px;
}
details{
  cursor:text;
  color:#636363;
}
summary{
  color:#000000;
  cursor:pointer;
}
iframe{
  overflow:hidden;
  border:none;
  height:345px;
}
/* layout summary */
.body{
  margin: 0 auto;
  width:644px;
}
.body td{
  vertical-align: top;
  position:relative;
}
.layout_header{
  background-image:url("../ui/layout_pieces_unicell/layout_header.gif");
  background-repeat:no-repeat;
  background-position:bottom;
}
/* borders - do not write inside */
.layout-leftborder{
  background-image:url("../ui/layout_pieces_multi/layout_leftborder.gif");
  min-width:14px;
}
.layout-rightborder{
  background-image:url("../ui/layout_pieces_multi/layout_rightborder.gif");
  min-width:10px;
}
/* dividers */
.center{
  background-image:url("../ui/layout_pieces_unicell/center_bgpattern.gif");
  background-repeat:repeat-y;
  box-sizing:border-box;
  width:620px;
}
.trans_divider{
  background-image:url("../ui/layout_pieces_multi/trans_divider.gif");
  background-repeat:no-repeat;
  box-sizing:border-box;
  min-width:620px;
  padding-top:15px;
}
.leftside, .rightside{
  background-repeat:repeat-y;
  box-sizing:border-box;
}
.leftside{
  background-image:url("../ui/layout_pieces_multi/leftside_bgpattern.gif");
  background-repeat:repeat-y;
  width:191px;
}
.rightside{
  background-image:url("../ui/layout_pieces_multi/rightside_bgpattern.gif");
  width:429px;
}
.rightside table{width:100%;}
.rightside td:nth-child(1){
  margin:0 auto;
  width:115px;
}
.leftbox{
  background: linear-gradient(0deg, #ededed 1%, #ffffff 30%);
  box-shadow: 4px 3px 9px -4px #00000070;
  border:#949494 solid 1px;
  box-sizing:border-box;
  border-radius:4px;
  padding:1px;
  margin:0 auto;
  width:170px;
}
#menu{
  border-collapse:separate;
}
#menu td{
  background-image:url("../ui/backgrounds/tone.png");
  padding:3px;
}
#menu td:nth-child(1){
  border-left:none;
}
#tabletitle{
  background: linear-gradient(180deg, #c5bde8 5%, #664fbd 39%, #9b84de 92%);
  text-shadow: 0px 0px 3px #f2edff;
  border-bottom:1px solid #36333b;
  border-top:1px solid #36333b;
  color:#ffffff;
  padding:3px
}